@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

@import "~smartphoto/scss/smartphoto.scss";

.app-container {
  .is-body {
    padding: 20px;
    background: #fff;
  }

  .react-smart-photo {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    img {
      margin-right: 5px;
      border:1px solid #ccc;
      padding: 2px;
    }
  }
}
